<div class="container">
  <div class="row">
    <%= render 'form', subject: @subject %>
  </div>
  <div class="row">
    <%= link_to 'Show', @subject %> | <%= link_to 'Back', subjects_path %>
  </div>
</div>